<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Day | 001</title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <section id="dashboard">
      <!-- start side navbar -->
      <aside>
        <div class="profile">
          <h1>FAN Analysis</h1>
          <div>
            <div></div>
          </div>
          <div>
            <h3>Cathy Murray</h3>
            <p>ID:5768439</p>
          </div>
        </div>
        <nav>
          <ul>
            <% links.forEach((link, i) => { %>
            <li class="<%= i === 0 ? 'active' : '' %>">
              <i class="<%= link.icon %>"></i>
              <p>
                <%= link.name %> <% if (i === links.length - 1) { %>
                <span>106</span>
                <% } %>
              </p>
              <span class="close-circle"></span>
            </li>
            <% }) %>
          </ul>
        </nav>
        <div class="bottom">
          <div>
            <a href="#!">
              <i class="fas fa-power-off"></i>
              <p>logout</p>
            </a>
          </div>
          <div>
            <p>@ 2019 Fan Analysis LLC</p>
          </div>
        </div>
      </aside>
      <div class="sidenav-cover"></div>
      <!-- end side navbar -->

      <main>
        <section id="content">
          <!-- start navbar -->
          <nav>
            <ul>
              <li><i class="fas fa-search"></i></li>
              <li>
                <i class="far fa-bell"></i>
                <span class="notification"></span>
              </li>
              <li><i class="fas fa-bars"></i></li>
            </ul>
          </nav>
          <!-- end navbar -->

          <div>
            <!-- start Overall section -->
            <div>
              <h2>Overall Data</h2>
              <ul>
                <% durations.forEach((duration, i) => { %>
                <li class="<%= i === 1 ? 'active' : '' %>"><%= duration %></li>
                <% })%>
              </ul>
            </div>
            <!-- end Overall section -->

            <!-- start cards section -->
            <div>
              <% cards.forEach(card => { %>
              <div>
                <div>
                  <div>
                    <h5><%= card.name %></h5>
                    <p>
                      <span><%= card.value %></span>
                      <i class="fas fa-long-arrow-alt-up"></i>
                    </p>
                  </div>
                  <div>
                    <i class="<%= card.icon %>"></i>
                  </div>
                </div>
              </div>
              <% })%>
            </div>
            <!-- end cards section -->
          </div>
          <!-- start charts section -->
          <div id="charts-section">
            <div class="card">
              <header>
                <h5>Fans Increase</h5>
                <div>
                  <div class="types">
                    <p>Fans Num</p>
                    <p>Female Fans</p>
                  </div>
                  <div class="drop-down" data-drop="drop-down-0">
                    <p>
                      <span class="active-item">Last 90 days</span>
                      <i class="fas fa-sort-down"></i>
                    </p>
                    <div id="drop-down-0" class="card">
                      <ul>
                        <% durations.forEach((d, i, ds) => { %>
                        <li class="<%= i === 1 ? 'active' : '' %>">
                          <%= ds[ds.length - i - 1] %>
                        </li>
                        <% }) %>
                      </ul>
                    </div>
                  </div>
                </div>
              </header>
              <div id="chart-container">
                <div class="x-axis">
                  <p>400</p>
                  <p>300</p>
                  <p>200</p>
                  <p>100</p>
                  <p>0</p>
                </div>
                <canvas id="canvas-chart" width="545"></canvas>
                <div class="y-axis">
                  <p>07.30</p>
                  <p>07.31</p>
                  <p>08.01</p>
                  <p>08.02</p>
                  <p>08.03</p>
                  <p>08.04</p>
                  <p>08.05</p>
                </div>
              </div>
            </div>
            <div class="card">
              <header>
                <h5>Income</h5>
                <div class="drop-down" data-drop="drop-down-1">
                  <p>
                    <span class="active-item">All time</span>
                    <i class="fas fa-sort-down"></i>
                  </p>
                  <div id="drop-down-1" class="card">
                    <ul>
                      <% durations.forEach((d, i, ds) => { %>
                      <li class="<%= i === 0 ? 'active' : '' %>">
                        <%= ds[ds.length - i - 1] %>
                      </li>
                      <% }) %>
                    </ul>
                  </div>
                </div>
              </header>
              <div>
                <div>
                  <canvas id="cirlce-chart" height="250" width="250"></canvas>
                  <p>$15392 <span>Income</span></p>
                </div>
              </div>
              <div>
                <% incomes.forEach(income => { %>
                <div>
                  <p><%= income.name %></p>
                  <p><%= (income.value * 100 / 15392).toFixed(1) %>%</p>
                  <p>$<%= income.value%></p>
                </div>
                <% })%>
              </div>
            </div>
          </div>
          <!-- end charts section -->
          <!-- start table -->
          <div id="table">
            <div class="card">
              <header>
                <h5>Fans Increase</h5>
                <div class="drop-down" data-drop="drop-down-2">
                  <p>
                    <span class="active-item">Last 30 days</span>
                    <i class="fas fa-sort-down"></i>
                  </p>
                  <div id="drop-down-2" class="card">
                    <ul>
                      <% durations.forEach((d, i, ds) => { %>
                      <li class="<%= i === 2 ? 'active' : '' %>">
                        <%= ds[ds.length - i - 1] %>
                      </li>
                      <% }) %>
                    </ul>
                  </div>
                </div>
              </header>
              <div class="table">
                <div class="table-header">
                  <% tableHeaders.forEach(head => { %>
                  <div><%= head %></div>
                  <% })%>
                </div>
                <% [...(await users()), ...(await users()), ...(await users()),
                ...(await users()), ...(await users())].forEach((user, i) => {
                %>
                <div class="table-row">
                  <% tableHeaders.forEach(head => { %>
                  <div><%= head === "id" ? i + 1 : user[head] %></div>
                  <% })%>
                </div>
                <% }) %>
              </div>
            </div>
          </div>
          <!-- end table -->
        </section>
      </main>
    </section>
    <script src="https://kit.fontawesome.com/1de73eac06.js"></script>
    <script src="./js/sibling.js"></script>
    <script src="./js/circle.js"></script>
    <script src="./js/chart.js"></script>
    <script src="./js/main.js"></script>
  </body>
</html>
